@-moz-keyframes gb__a{0%{opacity:0}50%{opacity:1}}
@keyframes gb__a{0%{opacity:0}
50%{opacity:1}
}
.gb_5a{display:none!important}
.gb_6a{visibility:hidden}
#gbsfw{min-width:400px;overflow:visible}
.gb_Xb,#gbsfw.gb_g{display:block;outline:none}
#gbsfw.gb_pa iframe{display:none}
.gb_Zb{padding:118px 0;text-align:center}
.gb_0b{background:no-repeat center 0;color:#aaa;font-size:13px;line-height:20px;padding-top:76px;background-image:url('//ssl.gstatic.com/gb/images/a/f5cdd88b65.png')}
.gb_0b a{color:#4285f4;text-decoration:none}
.gb_Zc{display:inline-block;padding:0 0 0 15px;vertical-align:middle}
.gb_Zc:first-child,#gbsfw:first-child+.gb_Zc{padding-left:0}
.gb_Fc{position:relative}
.gb_b{display:inline-block;outline:none;vertical-align:middle;-moz-border-radius:2px;border-radius:2px;-moz-box-sizing:border-box;box-sizing:border-box;height:30px;width:30px;color:#000;cursor:pointer;text-decoration:none}
#gb#gb a.gb_b{color:#000;cursor:pointer;text-decoration:none}
.gb_lb{border-color:transparent;border-bottom-color:#fff;border-style:dashed dashed solid;border-width:0 8.5px 8.5px;display:none;position:absolute;left:6.5px;top:37px;z-index:1;height:0;width:0;-moz-animation:gb__a .2s;animation:gb__a .2s}
.gb_mb{border-color:transparent;border-style:dashed dashed solid;border-width:0 8.5px 8.5px;display:none;position:absolute;left:6.5px;z-index:1;height:0;width:0;-moz-animation:gb__a .2s;animation:gb__a .2s;border-bottom-color:#ccc;border-bottom-color:rgba(0,0,0,.2);top:36px}
x:-o-prefocus,div.gb_mb{border-bottom-color:#ccc}
.gb_fa{background:#fff;border:1px solid #ccc;border-color:rgba(0,0,0,.2);color:#000;-moz-box-shadow:0 2px 10px rgba(0,0,0,.2);box-shadow:0 2px 10px rgba(0,0,0,.2);display:none;outline:none;overflow:hidden;position:absolute;right:0;top:44px;-moz-animation:gb__a .2s;animation:gb__a .2s;-moz-border-radius:2px;border-radius:2px;-moz-user-select:text}
.gb_Zc.gb_g .gb_lb,.gb_Zc.gb_g .gb_mb,.gb_Zc.gb_g .gb_fa,.gb_g.gb_fa{display:block}
.gb_Zc.gb_g.gb_kf .gb_lb,.gb_Zc.gb_g.gb_kf .gb_mb{display:none}
.gb_lf{position:absolute;right:0;top:44px;z-index:-1}
.gb_9a .gb_lb,.gb_9a .gb_mb,.gb_9a .gb_fa{margin-top:-10px}
.gb_Ib .gb_mb{border:0;border-left:1px solid rgba(0,0,0,.2);border-top:1px solid rgba(0,0,0,.2);height:14px;width:14px;-moz-transform:rotate(45deg);transform:rotate(45deg)}
.gb_Ib .gb_lb{border:0;border-left:1px solid rgba(0,0,0,.2);border-top:1px solid rgba(0,0,0,.2);height:14px;width:14px;-moz-transform:rotate(45deg);transform:rotate(45deg);border-color:#fff;background:#fff}
.gb_uf ::-webkit-scrollbar{height:15px;width:15px}
.gb_uf ::-webkit-scrollbar-button{height:0;width:0}
.gb_uf ::-webkit-scrollbar-thumb{background-clip:padding-box;background-color:rgba(0,0,0,.3);border:5px solid transparent;-moz-border-radius:10px;border-radius:10px;min-height:20px;min-width:20px;height:5px;width:5px}
.gb_uf ::-webkit-scrollbar-thumb:hover,.gb_uf ::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,.4)}
.gb_da .gb_b{background-position:-35px -276px;opacity:.55}
.gb_ea .gb_da .gb_b{background-position:-35px -276px}
.gb_X .gb_da .gb_b{background-position:-35px -2010px;opacity:1}
.gb_fa.gb_ga{min-height:196px;overflow-y:auto;width:320px}
.gb_ha{-moz-transition:height .2s ease-in-out;transition:height .2s ease-in-out}
.gb_ia{background:#fff;margin:0;min-height:100px;padding:28px;padding-right:27px;text-align:left;white-space:normal;width:265px}
.gb_ja{background:#f5f5f5;cursor:pointer;height:40px;overflow:hidden}
.gb_ka{position:relative}
.gb_ja{display:block;line-height:40px;text-align:center;width:320px}
.gb_ka{display:block;line-height:40px;text-align:center}
.gb_ka.gb_la{line-height:0}
.gb_ja,.gb_ja:visited,.gb_ja:active,.gb_ka,.gb_ka:visited{color:#737373;text-decoration:none}
.gb_ka:active{color:#737373}
#gb a.gb_ja,#gb a.gb_ja:visited,#gb a.gb_ja:active,#gb a.gb_ka,#gb a.gb_ka:visited{color:#737373;text-decoration:none}
#gb a.gb_ka:active{color:#737373}
.gb_ka,.gb_ia{display:none}
.gb_ba,.gb_ba+.gb_ka,.gb_ma .gb_ka,.gb_ma .gb_ia{display:block}
.gb_ka:hover,.gb_ka:active,#gb a.gb_ka:hover,#gb a.gb_ka:active{text-decoration:underline}
.gb_ka{border-bottom:1px solid #ebebeb;left:28px;width:264px}
.gb_ma .gb_ja{display:none}
.gb_ka:last-child{border-bottom-width:0}
.gb_na .gb_O{display:initial}
.gb_na.gb_oa{height:100px;text-align:center}
.gb_na.gb_oa img{padding:34px 0;height:32px;width:32px}
.gb_na .gb_2{background-image:url('//ssl.gstatic.com/gb/images/v1_e3444bc5.png');background-size:92px 2731px;background-position:0 -1725px}
.gb_na .gb_2+img{border:0;margin:8px;height:48px;width:48px}
.gb_na div.gb_pa{background:#ffa;-moz-border-radius:5px;border-radius:5px;padding:5px;text-align:center}
.gb_na.gb_qa,.gb_na.gb_ra{padding-bottom:0}
.gb_na.gb_sa,.gb_na.gb_ra{padding-top:0}
.gb_na.gb_ra a,.gb_na.gb_sa a{top:0}
.gb_ta .gb_ja{margin-top:0;position:static}
.gb_ua{display:inline-block}
.gb_va{margin:-12px 28px 28px;position:relative;width:264px;-moz-border-radius:2px;border-radius:2px;-moz-box-shadow:0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1);box-shadow:0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1)}
.gb_4{background-image:url('//ssl.gstatic.com/gb/images/v1_e3444bc5.png');background-size:92px 2731px;display:inline-block;margin:8px;vertical-align:middle;height:64px;width:64px}
.gb_wa{color:#262626;display:inline-block;font:13px/18px Arial,sans-serif;margin-right:80px;padding:10px 10px 10px 0;vertical-align:middle;white-space:normal}
.gb_xa{font:16px/24px Arial,sans-serif}
.gb_ya,#gb#gb .gb_ya{color:#427fed;text-decoration:none}
.gb_ya:hover,#gb#gb .gb_ya:hover{text-decoration:underline}
.gb_za .gb_ia{position:relative}
.gb_za .gb_O{position:absolute;top:28px;left:28px}
.gb_ja.gb_Aa{display:none;height:0}
.gb_N .gb_da .gb_b::before,.gb_N.gb_ea .gb_da .gb_b::before{left:-35px;top:-276px}
.gb_N.gb_X .gb_da .gb_b::before{left:-35px;top:-2010px}
.gb_Ib .gb_ja{position:relative}
.gb_da .gb_b:hover,.gb_da .gb_b:focus{opacity:.85}
.gb_X .gb_da .gb_b:hover,.gb_X .gb_da .gb_b:focus{opacity:1}
@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25){.gb_na .gb_2{background-image:url('//ssl.gstatic.com/gb/images/v2_2bfc14f2.png')}
}
#gb#gb a.gb_O{color:#404040;text-decoration:none}
#gb#gb a.gb_P,#gb#gb span.gb_P{text-decoration:none}
#gb#gb a.gb_P,#gb#gb span.gb_P{color:#000}
.gb_P{opacity:.75}
#gb#gb a.gb_P:hover,#gb#gb a.gb_P:focus{opacity:.85;text-decoration:underline}
.gb_Q.gb_R{display:none;padding-left:15px;vertical-align:middle}
.gb_Q.gb_R:first-child{padding-left:0}
.gb_S.gb_R{display:inline-block}
.gb_Q span{opacity:.55;-moz-user-select:text}
.gb_T .gb_S.gb_R{flex:0 1 auto;flex:0 1 main-size;display:-webkit-flex;display:flex}
.gb_U .gb_S.gb_R{display:none}
.gb_Q .gb_P{display:inline-block;line-height:24px;outline:none;vertical-align:middle}
.gb_S .gb_P{display:none}
.gb_V .gb_S .gb_P{min-width:0}
.gb_W .gb_S .gb_P{width:0!important}
#gb#gb.gb_X a.gb_P,#gb#gb.gb_X span.gb_P,#gb#gb .gb_X a.gb_P,#gb#gb .gb_X span.gb_P{color:#fff}
#gb#gb.gb_X span.gb_P,#gb#gb .gb_X span.gb_P{opacity:.7}
.gb_M.gb_M{background-size:64px 64px}
#gb2 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/3a1e625196.png')}
.gb_N #gb2 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/3a1e625196.png')}
#gb22 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/3daf4c1f88.png')}
.gb_N #gb22 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/3daf4c1f88.png')}
#gb45 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/f420d06f66.png')}
.gb_N #gb45 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/f420d06f66.png')}
#gb72 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/78b3d46de1.png')}
.gb_N #gb72 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/78b3d46de1.png')}
#gb117 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/142da27578.png')}
.gb_N #gb117 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/142da27578.png')}
#gb136 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/911e3628e6.png')}
.gb_N #gb136 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/911e3628e6.png')}
#gb166 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/41679a9ec5.png')}
.gb_N #gb166 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/41679a9ec5.png')}
#gb171 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/4244245d7e.png')}
.gb_N #gb171 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/4244245d7e.png')}
#gb177 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/4653513b7d.png')}
.gb_N #gb177 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/4653513b7d.png')}
#gb206 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/ad330d8459.png')}
.gb_N #gb206 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/ad330d8459.png')}
#gb207 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/2c21041e16.png')}
.gb_N #gb207 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/2c21041e16.png')}
#gb211 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/c03dda0b34.png')}
.gb_N #gb211 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/c03dda0b34.png')}
#gb217 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/71060be5b3.png')}
.gb_N #gb217 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/71060be5b3.png')}
#gb228 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/74aa55e0c2.png')}
.gb_N #gb228 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/74aa55e0c2.png')}
#gb249 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/afa40f6e42.png')}
.gb_N #gb249 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/afa40f6e42.png')}
#gb260 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/ea554714e7.png')}
.gb_N #gb260 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/ea554714e7.png')}
#gb261 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/0b26f6f8e4.png')}
.gb_N #gb261 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/0b26f6f8e4.png')}
#gb108 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/dfbeb24785.png')}
.gb_N #gb108 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/dfbeb24785.png')}
#gb60 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/85bb99a341.png')}
.gb_N #gb60 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/85bb99a341.png')}
#gb175 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/eacd033c28.png')}
.gb_N #gb175 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/eacd033c28.png')}
@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25){#gb2 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/438087d3df.png')}
.gb_N #gb2 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/438087d3df.png')}
#gb22 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/cfa67efcd3.png')}
.gb_N #gb22 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/cfa67efcd3.png')}
#gb45 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/9c561d4392.png')}
.gb_N #gb45 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/9c561d4392.png')}
#gb72 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/90f42e515b.png')}
.gb_N #gb72 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/90f42e515b.png')}
#gb117 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/e3cbb9b858.png')}
.gb_N #gb117 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/e3cbb9b858.png')}
#gb136 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/17bdcddea9.png')}
.gb_N #gb136 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/17bdcddea9.png')}
#gb166 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/be3fe52205.png')}
.gb_N #gb166 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/be3fe52205.png')}
#gb171 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/1b217ae532.png')}
.gb_N #gb171 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/1b217ae532.png')}
#gb177 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/188f0d697b.png')}
.gb_N #gb177 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/188f0d697b.png')}
#gb206 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/20808fb750.png')}
.gb_N #gb206 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/20808fb750.png')}
#gb207 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/6d9eaee7f9.png')}
.gb_N #gb207 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/6d9eaee7f9.png')}
#gb211 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/2d7fffa981.png')}
.gb_N #gb211 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/2d7fffa981.png')}
#gb217 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/e2c0b463b4.png')}
.gb_N #gb217 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/e2c0b463b4.png')}
#gb228 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/fe8c881457.png')}
.gb_N #gb228 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/fe8c881457.png')}
#gb249 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/d54db42004.png')}
.gb_N #gb249 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/d54db42004.png')}
#gb260 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/99be7c5086.png')}
.gb_N #gb260 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/99be7c5086.png')}
#gb261 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/9001dae971.png')}
.gb_N #gb261 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/9001dae971.png')}
#gb108 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/ca7b209615.png')}
.gb_N #gb108 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/ca7b209615.png')}
#gb60 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/e000432278.png')}
.gb_N #gb60 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/e000432278.png')}
#gb175 .gb_M{background-image:url('//ssl.gstatic.com/gb/images/a/84d52a8885.png')}
.gb_N #gb175 .gb_M::before{content:url('//ssl.gstatic.com/gb/images/a/84d52a8885.png')}
}
.gb_Z{padding:1px;display:inline-block;vertical-align:top;color:black;z-index:999;height:98px;width:86px}
.gb_Z a{text-decoration:none}
.gb_Z[aria-grabbed=true]{visibility:hidden}
.gb_Z:hover{z-index:1001}
.gb_Z:hover a{border:1px solid #e5e5e5;-moz-border-radius:2px;border-radius:2px;margin:7px 1px}
.gb_Z.gb_0 a{border:1px solid #e5e5e5;-moz-box-shadow:0 1px 2px rgba(0,0,0,0.1);box-shadow:0 1px 2px rgba(0,0,0,0.1);background:#fff;cursor:-moz-grabbing;cursor:-webkit-grabbing;margin:-1px;visibility:visible;z-index:1001}
.gb_1{opacity:.5}
.gb_Z.gb_0 a{color:#404040!important;cursor:-moz-grabbing;cursor:-webkit-grabbing;font:13px/27px Arial,sans-serif;text-decoration:none!important}
.gb_O{color:#404040;display:inline-block;font-size:13px;margin:8px 2px;text-align:center;outline:none}
.gb_O .gb_2,.gb_O .gb_M{display:inline-block;vertical-align:top;height:64px;width:64px}
.gb_3{display:block;line-height:20px;overflow:hidden;white-space:nowrap;width:84px;text-overflow:ellipsis}
.gb_Z:hover .gb_O{z-index:1}
.gb_Z:hover .gb_3{background:rgba(255,255,255,.9);white-space:normal;overflow-wrap:break-word;word-wrap:break-word}
.gb_O .gb_2{background-image:url('//ssl.gstatic.com/gb/images/v1_e3444bc5.png');background-size:92px 2731px}
.gb_N .gb_O .gb_2,.gb_N .gb_4.gb_2{background-image:none;overflow:hidden;position:relative}
.gb_N .gb_O .gb_2::before,.gb_N .gb_4.gb_2::before{content:url('//ssl.gstatic.com/gb/images/v1_e3444bc5.png');position:absolute}
.gb_N .gb_M{background-image:none!important;position:relative}
.gb_N .gb_M::before{left:0;position:absolute;top:0}
@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25){.gb_O .gb_2{background-image:url('//ssl.gstatic.com/gb/images/v2_2bfc14f2.png')}
.gb_N .gb_O .gb_2::before{content:url('//ssl.gstatic.com/gb/images/v2_2bfc14f2.png');-moz-transform:scale(.5);transform:scale(.5);-moz-transform-origin:0 0;transform-origin:0 0}
.gb_N .gb_O .gb_M::before{-moz-transform:scale(.5);transform:scale(.5);-moz-transform-origin:0 0;transform-origin:0 0}
}
.gb_5 .gb_O:focus,#gb#gb .gb_5 a.gb_O:focus{text-decoration:underline}
.gb_Z[aria-grabbed=true].gb_6{visibility:visible}
.gb_7,.gb_8{position:relative;top:27px;visibility:hidden}
.gb_9,.gb_aa{left:37px;visibility:hidden}
.gb_7{float:left;width:0;height:0;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid #4273db}
.gb_8{float:right;width:0;height:0;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #4273db}
.gb_9{position:absolute;top:0;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #4273db}
.gb_aa{position:absolute;top:59px;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #4273db}
ul.gb_ba li.gb_6:not(:first-child) .gb_7,ul.gb_ba li.gb_6:not(:nth-child(-n+3)) .gb_9,ul.gb_ba li.gb_6 .gb_8,ul.gb_ba li.gb_6 .gb_aa,ul.gb_ca li.gb_6 .gb_7,ul.gb_ca li.gb_6 .gb_9,ul.gb_ca li.gb_6:not(:last-child) .gb_8,ul.gb_ca li.gb_6:not(:nth-last-child(-n+3)) .gb_aa{visibility:visible}
a.gb_Ba{border:none;color:#4285f4;cursor:default;font-weight:bold;outline:none;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;white-space:nowrap;-moz-user-select:none}
a.gb_Ba:hover:after,a.gb_Ba:focus:after{background-color:rgba(0,0,0,.12);content:'';height:100%;left:0;position:absolute;top:0;width:100%}
a.gb_Ba:hover,a.gb_Ba:focus{text-decoration:none}
a.gb_Ba:active{background-color:rgba(153,153,153,.4);text-decoration:none}
a.gb_Ca{background-color:#4285f4;color:#fff}
a.gb_Ca:active{background-color:#0043b2}
.gb_Da{-moz-box-shadow:0 1px 1px rgba(0,0,0,.16);box-shadow:0 1px 1px rgba(0,0,0,.16)}
.gb_Ba,.gb_Ca,.gb_Ea,.gb_Fa{display:inline-block;line-height:28px;padding:0 12px;-moz-border-radius:2px;border-radius:2px}
.gb_Ea{background:#f8f8f8;border:1px solid #c6c6c6}
.gb_Fa{background:#f8f8f8}
.gb_Ea,#gb a.gb_Ea.gb_Ea,.gb_Fa{color:#666;cursor:default;text-decoration:none}
#gb a.gb_Fa.gb_Fa{cursor:default;text-decoration:none}
.gb_Fa{border:1px solid #4285f4;font-weight:bold;outline:none;background:#4285f4;background:-moz-linear-gradient(top,#4387fd,#4683ea);background:linear-gradient(top,#4387fd,#4683ea);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0)}
#gb a.gb_Fa.gb_Fa{color:#fff}
.gb_Fa:hover{-moz-box-shadow:0 1px 0 rgba(0,0,0,.15);box-shadow:0 1px 0 rgba(0,0,0,.15)}
.gb_Fa:active{-moz-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);box-shadow:inset 0 2px 0 rgba(0,0,0,.15);background:#3c78dc;background:-moz-linear-gradient(top,#3c7ae4,#3f76d3);background:linear-gradient(top,#3c7ae4,#3f76d3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=0)}
.gb_mf{display:inline-block;line-height:normal;position:relative;z-index:987}
.gb_7a{background-size:32px 32px;-moz-border-radius:50%;border-radius:50%;display:block;margin:-1px;overflow:hidden;position:relative;height:32px;width:32px;z-index:0}
@media (min-resolution:1.25dppx),(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25){.gb_7a::before{display:inline-block;-moz-transform:scale(.5);transform:scale(.5);-moz-transform-origin:left 0;transform-origin:left 0}
.gb_ub::before{display:inline-block;-moz-transform:scale(.5);transform:scale(.5);-moz-transform-origin:left 0;transform-origin:left 0}
}
.gb_7a:hover,.gb_7a:focus{-moz-box-shadow:0 1px 0 rgba(0,0,0,.15);box-shadow:0 1px 0 rgba(0,0,0,.15)}
.gb_7a:active{-moz-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);box-shadow:inset 0 2px 0 rgba(0,0,0,.15)}
.gb_7a:active::after{background:rgba(0,0,0,.1);-moz-border-radius:50%;border-radius:50%;content:'';display:block;height:100%}
.gb_8a{cursor:pointer;line-height:30px;min-width:30px;opacity:.75;overflow:hidden;vertical-align:middle;text-overflow:ellipsis}
.gb_b.gb_8a{width:auto}
.gb_8a:hover,.gb_8a:focus{opacity:.85}
.gb_9a .gb_8a,.gb_9a .gb_ab{line-height:26px}
#gb#gb.gb_9a a.gb_8a,.gb_9a .gb_ab{font-size:11px;height:auto}
.gb_bb{border-top:4px solid #000;border-left:4px dashed transparent;border-right:4px dashed transparent;display:inline-block;margin-left:6px;opacity:.75;vertical-align:middle}
.gb_cb:hover .gb_bb{opacity:.85}
.gb_X .gb_8a,.gb_X .gb_bb{opacity:1}
#gb#gb.gb_X.gb_X a.gb_8a,#gb#gb .gb_X.gb_X a.gb_8a{color:#fff}
.gb_X.gb_X .gb_bb{border-top-color:#fff;opacity:1}
.gb_ea .gb_7a:hover,.gb_X .gb_7a:hover,.gb_ea .gb_7a:focus,.gb_X .gb_7a:focus{-moz-box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)}
.gb_db .gb_eb,.gb_fb .gb_eb{position:absolute;right:1px}
.gb_eb.gb_R,.gb_gb.gb_R,.gb_cb.gb_R{flex:0 1 auto;flex:0 1 main-size}
.gb_hb.gb_W .gb_8a{width:30px!important}
.gb_ib.gb_6a{display:none}
@-moz-keyframes bar{0%{margin-left:-100%}
to{margin-left:100%}
}
@keyframes progressmove{0%{margin-left:-100%}
to{margin-left:100%}
}
.gb_jb.gb_5a{display:none}
.gb_jb{background-color:#ccc;height:3px;overflow:hidden}
.gb_kb{background-color:#f4b400;height:100%;width:50%;-moz-animation:progressmove 1s linear 0s infinite;animation:progressmove 1s linear 0s infinite}
.gb_8a~.gb_lb,.gb_8a~.gb_mb{left:auto;right:6.5px}
.gb_nb{outline:none}
.gb_ob,#gb a.gb_ob.gb_ob,.gb_pb a,#gb .gb_pb.gb_pb a{color:#36c;text-decoration:none}
.gb_ob:active,#gb a.gb_ob:active,.gb_ob:hover,#gb a.gb_ob:hover,.gb_pb a:active,#gb .gb_pb a:active,.gb_pb a:hover,#gb .gb_pb a:hover{text-decoration:underline}
.gb_qb{margin:20px}
.gb_rb,.gb_sb{display:inline-block;vertical-align:top}
.gb_rb{margin-right:20px;position:relative}
.gb_tb{-moz-border-radius:50%;border-radius:50%;overflow:hidden}
.gb_ub{background-size:96px 96px;border:none;vertical-align:top;height:96px;width:96px}
.gb_ib{background:rgba(78,144,254,.7);bottom:0;color:#fff;font-size:9px;font-weight:bold;left:0;line-height:9px;position:absolute;padding:7px 0;text-align:center;width:96px}
.gb_tb .gb_ib{background:rgba(0,0,0,.54)}
.gb_vb{font-weight:bold;margin:-4px 0 1px 0}
.gb_xb{color:#666}
.gb_pb{color:#ccc;margin:6px 0}
.gb_pb a{margin:0 10px}
.gb_pb a:first-child{margin-left:0}
.gb_pb a:last-child{margin-right:0}
.gb_sb .gb_yb{background:#4d90fe;border-color:#3079ed;font-weight:bold;margin:10px 0 0 0;color:#fff}
#gb .gb_sb a.gb_yb.gb_yb{color:#fff}
.gb_sb .gb_yb:hover{background:#357ae8;border-color:#2f5bb7}
.gb_zb{background:#f5f5f5;border-top:1px solid #ccc;border-color:rgba(0,0,0,.2);padding:10px 0;width:100%;display:table}
.gb_zb .gb_yb{margin:0 20px}
.gb_zb>div{display:table-cell;text-align:right}
.gb_zb>div:first-child{text-align:left}
.gb_zb .gb_Ab{display:block;text-align:center}
.gb_Bb .gb_lb{border-bottom-color:#fef9db}
.gb_Cb{background:#fef9db;font-size:11px;padding:10px 20px;white-space:normal}
.gb_Cb b,.gb_ob{white-space:nowrap}
.gb_Fb{background:#f5f5f5;border-top:1px solid #ccc;border-top-color:rgba(0,0,0,.2);max-height:230px;overflow:auto}
.gb_Hb{border-top:1px solid #ccc;border-top-color:rgba(0,0,0,.2);display:block;padding:10px 20px;position:relative;white-space:nowrap}
.gb_Ib .gb_Hb:focus .gb_Jb{outline:1px dotted #fff}
.gb_Hb:hover{background:#eee}
.gb_Hb[selected="true"]{overflow:hidden}
.gb_Hb[selected="true"]>.gb_Kb{background-color:rgba(117,117,117,.9)}
.gb_Hb[selected="true"]>.gb_Lb{display:block;position:absolute;z-index:2}
.gb_Lb::-moz-focus-inner{border:0}
.gb_Lb{background-color:transparent;border:none;color:#fff;display:none;font-family:Roboto,Arial,sans-serif;font-weight:400;font-size:14px;height:36px;min-width:86px;text-align:center;top:16px;width:auto}
.gb_Hb[selected="true"]>.gb_Lb:focus{background-color:rgba(0,0,0,.24);-moz-border-radius:2px;border-radius:2px;outline:0}
.gb_Hb[selected="true"]>.gb_Lb:hover,.gb_Hb[selected="true"]>.gb_Lb:focus:hover{background-color:#565656;-moz-border-radius:2px;border-radius:2px}
.gb_Hb[selected="true"]>.gb_Lb:active{-moz-border-radius:2px;border-radius:2px;background-color:#212121}
.gb_Mb{left:0;margin-left:5%}
.gb_Nb{margin-right:5%;right:0}
.gb_Hb:first-child,.gb_Ob:first-child+.gb_Hb{border-top:0}
.gb_Ob{display:none}
.gb_Pb{cursor:default}
.gb_Pb:hover{background:transparent}
.gb_Qb{border:none;vertical-align:top;height:48px;width:48px}
.gb_Jb{display:inline-block;margin:6px 0 0 10px}
.gb_Pb .gb_Qb,.gb_Pb .gb_Jb{opacity:.4}
.gb_Rb{color:#000}
.gb_Pb .gb_Rb{color:#666}
.gb_Sb{color:#666}
.gb_Tb{color:#666;font-style:italic}
.gb_Kb{background-color:transparent;height:100%;left:0;position:absolute;text-align:center;top:0;width:100%;z-index:1}
.gb_Lb:hover{background-color:rgba(100,100,100,0.4)}
.gb_Ub{background:#f5f5f5;border-top:1px solid #ccc;border-top-color:rgba(0,0,0,.2);display:block;padding:10px 20px}
.gb_Vb{background-position:-35px -449px;display:inline-block;margin:1px 0;vertical-align:middle;height:25px;width:25px}
.gb_N .gb_Vb::before{left:-35px;top:-449px}
.gb_Wb{color:#427fed;display:inline-block;padding:0 25px 0 10px;vertical-align:middle;white-space:normal}
.gb_Ub:hover .gb_Wb{text-decoration:underline}
.gb_zb .gb_yb:hover{-moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);box-shadow:0 1px 1px rgba(0,0,0,0.1);border-color:#c6c6c6;color:#222;background-color:#fff;background-image:-moz-linear-gradient(top,#fff,#f8f8f8);background-image:-moz-linear-gradient(top,#fff,#f8f8f8);background-image:linear-gradient(top,#fff,#f8f8f8);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#f8f8f8')}
.gb_og{color:#000;font:13px/27px Arial,sans-serif;left:0;min-width:1117px;position:absolute;top:0;-moz-user-select:-moz-none;width:100%}
.gb_uf{font:13px/27px Arial,sans-serif;position:relative;height:60px;width:100%}
.gb_9a .gb_uf{height:28px}
#gba{height:60px}
#gba.gb_9a{height:28px}
#gba.gb_pg{height:90px}
#gba.gb_qg{height:132px}
#gba.gb_pg.gb_9a{height:58px}
.gb_uf>.gb_R{height:60px;line-height:58px;vertical-align:middle}
.gb_9a .gb_uf>.gb_R{height:28px;line-height:26px}
.gb_uf::before{background:#e5e5e5;bottom:0;content:'';display:none;height:1px;left:0;position:absolute;right:0}
.gb_uf{background:#f1f1f1}
.gb_rg .gb_uf{background:#fff}
.gb_rg .gb_uf::before,.gb_9a .gb_uf::before{display:none}
.gb_ea .gb_uf,.gb_X .gb_uf,.gb_9a .gb_uf{background:transparent}
.gb_ea .gb_uf::before{background:#e1e1e1;background:rgba(0,0,0,.12)}
.gb_X .gb_uf::before{background:#333;background:rgba(255,255,255,.2)}
.gb_R{display:inline-block;flex:0 0 auto;flex:0 0 main-size}
.gb_R.gb_sg{float:right;order:1}
.gb_tg{white-space:nowrap}
.gb_T .gb_tg{display:-webkit-flex;display:flex}
.gb_tg,.gb_R{margin-left:0!important;margin-right:0!important}
.gb_6b{background-image:url('//ssl.gstatic.com/gb/images/v1_e3444bc5.png');background-size:92px 2731px}
@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25){.gb_6b{background-image:url('//ssl.gstatic.com/gb/images/v2_2bfc14f2.png')}
}
.gb_hb:not(.gb_N) .gb_7a::before,.gb_hb:not(.gb_N) .gb_ub::before{content:none}
.gb_N .gb_4b .gb_6b::before{left:0;top:-1139px}
.gb_N.gb_X .gb_4b .gb_6b::before{left:0;top:-790px}
.gb_N.gb_ea .gb_4b .gb_6b::before{left:0;top:-1454px}
.gb_N .gb_Wa{background-image:none!important}
.gb_N .gb_7b{visibility:visible}
.gb_Ib .gb_8d span{background:transparent}
.gb_1b{min-width:152px;overflow:hidden;position:relative;z-index:987}
.gb_2b{position:absolute;padding:0 30px 0 30px}
.gb_3b .gb_2b{right:100%;margin-right:-152px}
.gb_4b{display:inline-block;outline:none;vertical-align:middle}
.gb_5b .gb_4b{position:relative;top:2px}
.gb_4b .gb_6b,.gb_Wa{display:block}
.gb_7b{border:none;display:block;visibility:hidden}
.gb_4b .gb_6b{background-position:0 -1139px;height:33px;width:92px}
.gb_Wa{background-repeat:no-repeat}
.gb_X .gb_4b .gb_6b{background-position:0 -790px}
.gb_ea .gb_4b .gb_6b{background-position:0 -1454px;opacity:.54}
@-moz-keyframes gb__nb{0%{-moz-transform:scale(0,0);transform:scale(0,0)}
20%{-moz-transform:scale(1.4,1.4);transform:scale(1.4,1.4)}
50%{-moz-transform:scale(.8,.8);transform:scale(.8,.8)}
85%{-moz-transform:scale(1.1,1.1);transform:scale(1.1,1.1)}
to{-moz-transform:scale(1.0,1.0);transform:scale(1.0,1.0)}
}
@keyframes gb__nb{0%{-moz-transform:scale(0,0);transform:scale(0,0)}
20%{-moz-transform:scale(1.4,1.4);transform:scale(1.4,1.4)}
50%{-moz-transform:scale(.8,.8);transform:scale(.8,.8)}
85%{-moz-transform:scale(1.1,1.1);transform:scale(1.1,1.1)}
to{-moz-transform:scale(1.0,1.0);transform:scale(1.0,1.0)}
}
.gb_wc{background-position:0 -1177px;opacity:.55;height:100%;width:100%}
.gb_b:hover .gb_wc,.gb_b:focus .gb_wc{opacity:.85}
.gb_xc .gb_wc{background-position:-35px -1212px}
.gb_yc{background-color:#cb4437;-moz-border-radius:8px;border-radius:8px;font:bold 11px Arial;color:#fff;line-height:16px;min-width:14px;padding:0 1px;position:absolute;right:0;text-align:center;text-shadow:0 1px 0 rgba(0,0,0,0.1);top:0;visibility:hidden;z-index:990}
.gb_zc .gb_yc,.gb_zc .gb_Ac,.gb_zc .gb_Ac.gb_Bc{visibility:visible}
.gb_Ac{padding:0 2px;visibility:hidden}
.gb_Cc:not(.gb_Dc) .gb_mb,.gb_Cc:not(.gb_Dc) .gb_lb{left:3px}
.gb_yc.gb_Ec{-moz-animation:gb__nb .6s 1s both ease-in-out;animation:gb__nb .6s 1s both ease-in-out;-moz-perspective-origin:top right;perspective-origin:top right;-moz-transform:scale(1,1);transform:scale(1,1);-moz-transform-origin:top right;transform-origin:top right}
.gb_Ec .gb_Ac{visibility:visible}
.gb_ea .gb_b .gb_wc{background-position:0 -276px;opacity:.7}
.gb_ea .gb_xc .gb_wc{background-position:0 -1212px}
.gb_ea .gb_b:hover .gb_wc,.gb_ea .gb_b:focus .gb_wc{opacity:.85}
.gb_X .gb_b .gb_wc{background-position:-35px -966px;opacity:1}
.gb_X .gb_xc .gb_wc{background-position:-56px -2321px}
.gb_ea .gb_yc,.gb_X .gb_yc{border:none}
.gb_Cc .gb_Fc{font-size:14px;font-weight:bold;top:0;right:0}
.gb_Cc .gb_b{display:inline-block;vertical-align:middle;-moz-box-sizing:border-box;box-sizing:border-box;height:30px;width:30px}
.gb_Cc .gb_lb{border-bottom-color:#e5e5e5}
.gb_Hc{background-color:rgba(0,0,0,.55);color:#fff;font-size:12px;font-weight:bold;line-height:20px;margin:5px;padding:0 2px;text-align:center;-moz-box-sizing:border-box;box-sizing:border-box;-moz-border-radius:50%;border-radius:50%;height:20px;width:20px}
.gb_Hc.gb_Ic{background-position:-70px -2010px}
.gb_Hc.gb_Jc{background-position:0 0}
.gb_b:hover .gb_Hc,.gb_b:focus .gb_Hc{background-color:rgba(0,0,0,.85)}
#gbsfw.gb_Kc{background:#e5e5e5;border-color:#ccc}
.gb_ea .gb_Hc{background-color:rgba(0,0,0,.7)}
.gb_X .gb_Hc.gb_Hc,.gb_X .gb_zc .gb_Hc.gb_Hc,.gb_X .gb_zc .gb_b:hover .gb_Hc,.gb_X .gb_zc .gb_b:focus .gb_Hc{background-color:#fff;color:#404040}
.gb_X .gb_Hc.gb_Ic{background-position:-69px -2460px}
.gb_X .gb_Hc.gb_Jc{background-position:0 -583px}
.gb_zc .gb_Hc.gb_Hc{background-color:#db4437;color:#fff}
.gb_zc .gb_b:hover .gb_Hc,.gb_zc .gb_b:focus .gb_Hc{background-color:#a52714}
.gb_N .gb_wc::before{left:0;top:-1177px}
.gb_N .gb_xc .gb_wc::before{left:-35px;top:-1212px}
.gb_N.gb_ea .gb_b .gb_wc::before{left:0;top:-276px}
.gb_N.gb_ea .gb_xc .gb_wc::before{left:0;top:-1212px}
.gb_N.gb_X .gb_b .gb_wc::before{left:-35px;top:-966px}
.gb_N.gb_X .gb_xc .gb_wc::before{left:-56px;top:-2321px}
.gb_Ib .gb_Hc{border:1px solid #fff;color:#fff}
.gb_Ib.gb_ea .gb_Hc{border-color:#000;color:#000}
.gb_N .gb_Hc.gb_Ic::before,.gb_Ib.gb_N.gb_X .gb_Hc.gb_Ic::before{left:-70px;top:-2010px}
.gb_N .gb_Hc.gb_Jc::before,.gb_Ib.gb_N.gb_X .gb_Hc.gb_Jc::before{left:0;top:0}
.gb_N.gb_X .gb_Hc.gb_Ic::before,.gb_Ib.gb_N.gb_ea .gb_Hc.gb_Ic::before{left:-69px;top:-2460px}
.gb_N.gb_X .gb_Hc.gb_Jc::before,.gb_Ib.gb_N.gb_ea .gb_Hc.gb_Jc::before{left:0;top:-583px}
.gb_nd{color:#ffffff;font-size:13px;font-weight:bold;height:25px;line-height:19px;padding-top:5px;padding-left:12px;position:relative;background-color:#4d90fe}
.gb_nd .gb_od{color:#ffffff;cursor:default;font-size:22px;font-weight:normal;position:absolute;right:12px;top:5px}
.gb_nd .gb_8c,.gb_nd .gb_pd{color:#ffffff;display:inline-block;font-size:11px;margin-left:16px;padding:0 8px;white-space:nowrap}
.gb_qd{background:none;background-image:-moz-linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));background-image:linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));background-image:-moz-linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));-moz-border-radius:2px;border-radius:2px;border:1px solid #dcdcdc;border:1px solid rgba(0,0,0,0.1);cursor:default!important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#160000ff,endColorstr=#220000ff);text-decoration:none!important}
.gb_qd:hover{background:none;background-image:-moz-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));background-image:linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));background-image:-moz-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));border:1px solid rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000,endColorstr=#22000000)}
.gb_qd:active{box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3)}
.gb_Zc.gb_0c{padding:0}
.gb_0c .gb_fa{padding:26px 26px 22px 13px;background:#ffffff}
.gb_1c.gb_0c .gb_fa{background:#4d90fe}
a.gb_2c{color:#666666!important;font-size:22px;height:9px;opacity:.8;position:absolute;right:14px;top:4px;text-decoration:none!important;width:9px}
.gb_1c a.gb_2c{color:#c1d1f4!important}
a.gb_2c:hover,a.gb_2c:active{opacity:1}
.gb_3c{padding:0;width:258px;white-space:normal;display:table}
.gb_4c .gb_fa{top:36px;border:0;padding:16px;-moz-box-shadow:4px 4px 12px rgba(0,0,0,0.4);box-shadow:4px 4px 12px rgba(0,0,0,0.4)}
.gb_4c .gb_3c{width:328px}
.gb_4c .gb_Fa,.gb_4c .gb_5c,.gb_4c .gb_Xc,.gb_4c .gb_Ba,.gb_6c{line-height:normal;font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif}
.gb_4c .gb_Fa,.gb_4c .gb_5c,.gb_4c .gb_Ba{font-weight:500}
.gb_4c .gb_Fa,.gb_4c .gb_Ba{border:0;padding:10px 8px}
.gb_0c .gb_Fa:active{outline:none;-moz-box-shadow:0 4px 5px rgba(0,0,0,.16);box-shadow:0 4px 5px rgba(0,0,0,.16)}
.gb_4c .gb_5c{color:#222;margin-bottom:8px}
.gb_4c .gb_Xc{color:#808080;font-size:14px}
.gb_7c{text-align:right;font-size:14px;padding-bottom:0;white-space:nowrap}
.gb_7c .gb_8c{margin-left:8px}
.gb_7c .gb_9c.gb_8c img{background-color:inherit;-moz-border-radius:initial;border-radius:initial;height:1.5em;margin:-0.25em 10px -0.25em 2px;vertical-align:text-top;width:1.5em}
.gb_4c .gb_3c .gb_ad .gb_9c{border:2px solid transparent}
.gb_4c .gb_3c .gb_ad .gb_9c:focus{border-color:#bbccff}
.gb_4c .gb_3c .gb_ad .gb_9c:focus:after,.gb_4c .gb_3c .gb_ad .gb_9c:hover:after{background-color:transparent}
.gb_6c{background-color:#404040;color:#fff;padding:16px;position:absolute;top:36px;min-width:328px;max-width:650px;right:0;-moz-border-radius:2px;border-radius:2px;-moz-box-shadow:4px 4px 12px rgba(0,0,0,0.4);box-shadow:4px 4px 12px rgba(0,0,0,0.4)}
.gb_6c a,.gb_6c a:visited{color:#5e97f6;text-decoration:none}
.gb_bd{text-transform:uppercase}
.gb_cd{padding-left:50px}
.gb_1c .gb_3c{width:200px}
.gb_5c{color:#333333;font-size:16px;line-height:20px;margin:0;margin-bottom:16px}
.gb_1c .gb_5c{color:#ffffff}
.gb_Xc{color:#666666;line-height:17px;margin:0;margin-bottom:5px}
.gb_1c .gb_Xc{color:#ffffff}
.gb_dd{text-decoration:none;color:#5e97f6}
.gb_dd:visited{color:#5e97f6}
.gb_dd:hover,.gb_dd:active{text-decoration:underline}
.gb_ed{position:absolute;background:transparent;top:-999px;z-index:-1;visibility:hidden;margin-top:1px;margin-left:1px}
#gb .gb_0c{margin:0}
.gb_0c .gb_yb{background:#4d90fe;border-color:#3079ed;margin-top:15px}
.gb_4c .gb_Fa{background:#4285f4}
#gb .gb_0c a.gb_yb.gb_yb{color:#ffffff}
.gb_0c .gb_yb:hover{background:#357ae8;border-color:#2f5bb7}
.gb_fd .gb_Fc .gb_lb{border-bottom-color:#ffffff;display:block}
.gb_gd .gb_Fc .gb_lb{border-bottom-color:#4d90fe;display:block}
.gb_fd .gb_Fc .gb_mb,.gb_gd .gb_Fc .gb_mb{display:block}
.gb_hd,.gb_ad{display:table-cell}
.gb_hd{vertical-align:middle}
.gb_4c .gb_hd{vertical-align:top}
.gb_ad{padding-left:13px;width:100%}
.gb_4c .gb_ad{padding-left:20px}
.gb_id{display:block;display:inline-block;padding:1em 0 0 0;position:relative;width:100%}
.gb_jd{color:#ff0000;font-style:italic;margin:0;padding-left:46px}
.gb_id .gb_kd{float:right;margin:-20px 0;width:-moz-calc(100% - 46px);width:calc(100% - 46px)}
.gb_ld svg{fill:grey}
.gb_ld.gb_md svg{fill:#4285f4}
.gb_id .gb_kd label:after{background-color:#4285f4}
.gb_ld{display:inline;float:right;margin-right:22px;position:relative;top:-4px}
.gb_nf{margin-bottom:32px;font-size:small}
.gb_nf .gb_of{margin-right:5px}
.gb_nf .gb_pf{color:red}
.gb_Nc{display:none}
.gb_Nc.gb_g{display:block}
.gb_Oc{background-color:#fff;-moz-box-shadow:0 1px 0 rgba(0,0,0,0.08);box-shadow:0 1px 0 rgba(0,0,0,0.08);color:#000;position:relative;z-index:986}
.gb_Pc{height:40px;padding:16px 24px;white-space:nowrap}
.gb_Qc{position:fixed;bottom:16px;padding:16px;right:16px;white-space:normal;width:328px;transition:width .2s,bottom .2s,right .2s;-moz-border-radius:2px;border-radius:2px;-moz-box-shadow:0 5px 5px -3px rgba(0,0,0,0.2),0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12);box-shadow:0 5px 5px -3px rgba(0,0,0,0.2),0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12)}
@media (max-width:400px){.gb_Oc.gb_Qc{max-width:368px;width:auto;bottom:0;right:0}
}
.gb_Oc .gb_yb{border:0;font-weight:500;font-size:14px;line-height:36px;min-width:32px;padding:0 16px;vertical-align:middle}
.gb_Oc .gb_yb:before{content:'';height:6px;left:0;position:absolute;top:-6px;width:100%}
.gb_Oc .gb_yb:after{bottom:-6px;content:'';height:6px;left:0;position:absolute;width:100%}
.gb_Oc .gb_yb+.gb_yb{margin-left:8px}
.gb_Rc{height:48px;padding:4px;margin:-8px 0 0 -8px}
.gb_Qc .gb_Rc{float:left;margin:-4px}
.gb_Sc{font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;overflow:hidden;vertical-align:top}
.gb_Pc .gb_Sc{display:inline-block;padding-left:8px;width:640px}
.gb_Qc .gb_Sc{display:block;margin-left:56px;padding-bottom:16px}
.gb_Tc{background-color:inherit}
.gb_Pc .gb_Tc{display:inline-block;position:absolute;top:18px;right:24px}
.gb_Qc .gb_Tc{text-align:right;padding-right:24px;padding-top:6px}
.gb_Tc .gb_Uc{height:1.5em;margin:-.25em 10px -.25em 0;vertical-align:text-top;width:1.5em}
.gb_Vc{line-height:20px;font-size:16px;font-weight:700;color:rgba(0,0,0,.87)}
.gb_Qc .gb_Vc{color:rgba(0,0,0,.87);font-size:16px;line-height:20px;padding-top:8px}
.gb_Pc .gb_Vc,.gb_Pc .gb_Wc{width:640px}
.gb_Wc .gb_Xc,.gb_Wc{line-height:20px;font-size:13px;font-weight:400;color:rgba(0,0,0,.54)}
.gb_Qc .gb_Wc .gb_Xc{font-size:14px}
.gb_Qc .gb_Wc{padding-top:12px}
.gb_Qc .gb_Wc a{color:rgba(66,133,244,1)}
.gb_qf{position:relative;width:650px;z-index:986}
#gbq2{padding-top:15px}
.gb_T .gb_qf{min-width:200px;flex:0 2 auto;flex:0 2 main-size}
.gb_V~.gb_qf{min-width:0}
.gb_T #gbqf{margin-right:0;display:-webkit-flex;display:flex}
.gb_T .gbqff{min-width:0;flex:1 1 auto;flex:1 1 main-size}
.gb_N .gbqfi::before{left:0;top:-2321px}
.gb_Ib .gbqfb:focus .gbqfi{outline:1px dotted #fff}
#gbq2{display:block}
#gbqf{display:block;margin:0;margin-right:60px;white-space:nowrap}
.gbqff{border:none;display:inline-block;margin:0;padding:0;vertical-align:top;width:100%}
.gbqfqw,#gbqfb,.gbqfwa{vertical-align:top}
#gbqfaa,#gbqfab,#gbqfqwb{position:absolute}
#gbqfaa{left:0}
#gbqfab{right:0}
.gbqfqwb,.gbqfqwc{right:0;left:0;height:100%}
.gbqfqwb{padding:0 8px}
#gbqfbw{display:inline-block;vertical-align:top}
#gbqfb{border:1px solid transparent;border-bottom-left-radius:0;border-top-left-radius:0;height:30px;margin:0;outline:none;padding:0 0;width:60px;-moz-box-shadow:none;box-shadow:none;-moz-box-sizing:border-box;box-sizing:border-box;background:#4285f4;background:-moz-linear-gradient(top,#4387fd,#4683ea);background:linear-gradient(top,#4387fd,#4683ea);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=1)}
#gbqfb:hover{-moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);box-shadow:0 1px 1px rgba(0,0,0,0.1)}
#gbqfb:focus{-moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5)}
#gbqfb:hover:focus{-moz-box-shadow:inset 0 0 0 1px #fff,0 1px 1px rgba(0,0,0,0.1);box-shadow:inset 0 0 0 1px #fff,0 1px 1px rgba(0,0,0,0.1)}
#gbqfb:active:active{border:1px solid transparent;-moz-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);box-shadow:inset 0 2px 0 rgba(0,0,0,.15);background:#3c78dc;background:-moz-linear-gradient(top,#3c7ae4,#3f76d3);background:linear-gradient(top,#3c7ae4,#3f76d3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=1)}
.gbqfi{background-position:0 -2321px;display:inline-block;margin:-1px;height:30px;width:30px}
.gbqfqw{background:#fff;background-clip:padding-box;border:1px solid #cdcdcd;border-color:rgba(0,0,0,.15);border-right-width:0;height:30px;-moz-box-sizing:border-box;box-sizing:border-box}
#gbfwc .gbqfqw{border-right-width:1px}
#gbqfqw{position:relative}
.gbqfqw.gbqfqw:hover{border-color:#a9a9a9;border-color:rgba(0,0,0,.3)}
.gbqfwa{display:inline-block;width:100%}
.gbqfwb{width:40%}
.gbqfwc{width:60%}
.gbqfwb .gbqfqw{margin-left:10px}
.gbqfqw.gbqfqw:active,.gbqfqw.gbqfqwf.gbqfqwf{border-color:#4285f4}
#gbqfq,#gbqfqb,#gbqfqc{background:transparent;border:none;height:20px;margin-top:4px;padding:0;vertical-align:top;width:100%}
#gbqfq:focus,#gbqfqb:focus,#gbqfqc:focus{outline:none}
.gbqfif,.gbqfsf{color:#222;font:16px arial,sans-serif}
#gbqfbwa{display:none;text-align:center;height:0}
#gbqfbwa .gbqfba{margin:16px 8px}
#gbqfsa,#gbqfsb{font:bold 11px/27px Arial,sans-serif!important;vertical-align:top}
.gb_ea .gbqfqw.gbqfqw,.gb_X .gbqfqw.gbqfqw{border-color:rgba(255,255,255,1);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2)}
.gb_ea #gbqfb,.gb_X #gbqfb{-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2)}
.gb_ea #gbqfb:hover,.gb_X #gbqfb:hover{-moz-box-shadow:0 1px 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,.2)}
.gb_ea #gbqfb:active,.gb_X #gbqfb:active{-moz-box-shadow:inset 0 2px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);box-shadow:inset 0 2px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)}
.gbqfb,.gbqfba,.gbqfbb{cursor:default!important;display:inline-block;font-weight:bold;height:29px;line-height:29px;min-width:54px;padding:0 8px;text-align:center;text-decoration:none!important;-moz-border-radius:2px;border-radius:2px;-moz-user-select:-moz-none}
.gbqfba:focus{border:1px solid #4d90fe;outline:none;-moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5)}
.gbqfba:hover{border-color:#c6c6c6;color:#222!important;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);box-shadow:0 1px 1px rgba(0,0,0,0.1);background:#f8f8f8;background:-moz-linear-gradient(top,#f8f8f8,#f1f1f1);background:linear-gradient(top,#f8f8f8,#f1f1f1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8,endColorstr=#f1f1f1,GradientType=1)}
.gbqfba:hover:focus{-moz-box-shadow:inset 0 0 0 1px #fff,0 1px 1px rgba(0,0,0,0.1);box-shadow:inset 0 0 0 1px #fff,0 1px 1px rgba(0,0,0,0.1)}
.gbqfb::-moz-focus-inner{border:0}
.gbqfba::-moz-focus-inner{border:0}
.gbqfba{border:1px solid #dcdcdc;border-color:rgba(0,0,0,0.1);color:#444!important;font-size:11px;background:#f5f5f5;background:-moz-linear-gradient(top,#f5f5f5,#f1f1f1);background:linear-gradient(top,#f5f5f5,#f1f1f1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5,endColorstr=#f1f1f1,GradientType=1)}
.gbqfba:active{-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1)}
.gb_rf .gb_b{background-position:0 -1699px;opacity:.55;height:30px;width:30px}
.gb_rf .gb_b:hover,.gb_rf .gb_b:focus{opacity:.85}
.gb_rf .gb_lb{border-bottom-color:#f5f5f5}
#gbsfw.gb_sf{background:#f5f5f5;border-color:#ccc}
.gb_X .gb_rf .gb_b{background-position:-35px -1699px;opacity:1}
.gb_ea .gb_rf .gb_b{background-position:0 -966px;opacity:.7}
.gb_ea .gb_rf .gb_b:hover,.gb_ea .gb_rf .gb_b:focus{opacity:.85}
.gb_N .gb_rf .gb_b::before{left:0;top:-1699px}
.gb_N.gb_ea .gb_rf .gb_b::before{left:0;top:-966px}
.gb_N.gb_X .gb_rf .gb_b::before{left:-35px;top:-1699px}
.gb_Sf{width:480px}
.gb_Tf{background:#e7e7e7;background:rgba(0,0,0,.04);border-bottom-right-radius:0;line-height:30px;position:relative;text-align:center;width:100%}
.gb_Tf:hover{background:#dbdbdb;background:rgba(0,0,0,.08)}
.gb_Tf .gb_Uf{margin:0 10px}
.gb_Vf{position:relative;z-index:1}
.gb_Wf{background:#eee;border-bottom:1px solid #e3e3e3;border-left:1px solid #e3e3e3;display:inline-block;line-height:32px;text-align:center;width:160px}
.gb_Vf .gb_Wf:first-child{border-left:none}
.gb_Vf .gb_g{background:#fff;border-bottom:none}
.gb_Xf{display:none;text-align:center}
.gb_Xf.gb_g{display:block}
.gb_Zf{color:inherit;display:inline-block;padding:15px;text-decoration:none}
.gb_0f{background-clip:content-box;background-origin:content-box;display:inherit;height:64px;width:64px}
.gb_1f{display:block;text-align:center}
.gb_2f{border-top:none;top:78px;z-index:1;-moz-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px}
.gb_3f{display:inline-block;vertical-align:middle}
.gb_4f{display:inline-block;vertical-align:middle;background-size:100%;height:20px;width:20px}
.gb_5f{background-image:url('//ssl.gstatic.com/gb/images/a/5a1c013d3d.png')}
.gb_6f{background-image:url('//ssl.gstatic.com/gb/images/a/de580e5330.png')}
.gb_7f{background-image:url('//ssl.gstatic.com/gb/images/a/451603daf6.png')}
.gb_3f{margin-left:4px}
.gb_8f{margin:5px;width:470px}
.gb_9f{border:none;display:block;margin:0 5px;outline:none;padding:0 5px;height:30px;width:450px}
.gb_ag{border:none;display:block;margin:0 5px;outline:none;padding:0 5px;height:30px;width:450px;border-top:1px solid #e3e3e3}
.gb_bg{border-color:#e3e3e3;display:block;font:inherit;margin:0 5px;outline:none;padding:5px;text-align:left;height:320px;width:450px}
.gb_cg,.gb_dg{border:1px solid #e3e3e3;-moz-border-radius:2px;border-radius:2px;cursor:pointer;line-height:27px;margin:5px;padding:0 8px;width:54px}
.gb_cg{float:left}
.gb_dg{float:right}
.gb_hb{min-width:255px;padding-left:30px;padding-right:30px;position:relative;text-align:right;z-index:986;align-items:center;justify-content:flex-end;-moz-user-select:-moz-none}

.gb_9a .gb_hb{min-width:0}
.gb_hb.gb_R{flex:1 1 auto;flex:1 1 main-size}
.gb_uc{line-height:normal;position:relative;text-align:left}
.gb_uc.gb_R,.gb_ce.gb_R,.gb_ab.gb_R{flex:0 1 auto;flex:0 1 main-size}
.gb_eg,.gb_fg{display:inline-block;padding:0 0 0 15px;position:relative;vertical-align:middle}
.gb_ce{line-height:normal;padding-right:15px}
.gb_hb .gb_ce.gb_U{padding-right:0}
.gb_ab{color:#404040;line-height:30px;min-width:30px;overflow:hidden;vertical-align:middle;text-overflow:ellipsis}
#gb.gb_9a.gb_9a .gb_Lf,#gb.gb_9a.gb_9a .gb_uc>.gb_fg .gb_Mf{background:none;border:none;color:#36c;cursor:pointer;filter:none;font-size:11px;line-height:26px;padding:0;-moz-box-shadow:none;box-shadow:none}
#gb.gb_9a.gb_X .gb_Lf,#gb.gb_9a.gb_X .gb_uc>.gb_fg .gb_Mf{color:#fff}
.gb_9a .gb_Lf{text-transform:uppercase}
.gb_hb.gb_V{padding-left:0;padding-right:29px}
.gb_hb.gb_gg{max-width:400px}
.gb_hg{background-clip:content-box;background-origin:content-box;opacity:.27;padding:22px;height:16px;width:16px}
.gb_hg.gb_R{display:none}
.gb_hg:hover,.gb_hg:focus{opacity:.55}
.gb_ig{background-position:-69px -2252px}
.gb_jg{background-position:-35px -2321px;padding-left:30px;padding-right:14px;position:absolute;right:0;top:0;z-index:990}
.gb_db:not(.gb_fb) .gb_jg,.gb_V .gb_ig{display:inline-block}
.gb_db .gb_ig{padding-left:30px;padding-right:0;width:0}
.gb_db:not(.gb_fb) .gb_kg{display:none}
.gb_hb.gb_R.gb_V,.gb_V:not(.gb_fb) .gb_uc{flex:0 0 auto;flex:0 0 main-size}
.gb_hg,.gb_V .gb_ce,.gb_fb .gb_uc{overflow:hidden}
.gb_db .gb_ce{padding-right:0}
.gb_V .gb_uc{padding:1px 1px 1px 0}
.gb_db .gb_uc{width:75px}
.gb_hb.gb_lg,.gb_hb.gb_lg .gb_ig,.gb_hb.gb_lg .gb_ig::before,.gb_hb.gb_lg .gb_ce,.gb_hb.gb_lg .gb_uc{-moz-transition:width .5s ease-in-out,min-width .5s ease-in-out,max-width .5s ease-in-out,padding .5s ease-in-out,left .5s ease-in-out;transition:width .5s ease-in-out,min-width .5s ease-in-out,max-width .5s ease-in-out,padding .5s ease-in-out,left .5s ease-in-out}
.gb_T .gb_hb{min-width:0}
.gb_hb.gb_W,.gb_hb.gb_W .gb_uc,.gb_hb.gb_mg,.gb_hb.gb_mg .gb_uc{min-width:0!important}
.gb_hb.gb_W,.gb_hb.gb_W .gb_R{-moz-box-flex:0 0 auto!important;flex:0 0 auto!important}
.gb_hb.gb_W .gb_ab{width:30px!important}
.gb_ng{margin-right:32px}
.gb_6a{display:none}
.gb_N .gb_ig::before{clip:rect(2252px 85px 2268px 69px);left:-47px;top:-2230px}
.gb_N .gb_6b.gb_jg{position:absolute}
.gb_N .gb_jg::before{clip:rect(2321px 51px 2337px 35px);left:-5px;top:-2299px}
.gb_N .gb_db .gb_ig::before{left:-39px}
@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25){.gb_N .gb_ig::before{clip:rect(4504px 170px 4536px 138px)}
.gb_N .gb_jg::before{clip:rect(4642px 102px 4674px 70px)}
}
.gb_N .gb_6b,.gb_N .gbii,.gb_N .gbip{background-image:none;overflow:hidden;position:relative}
.gb_N .gb_6b::before{content:url('//ssl.gstatic.com/gb/images/v1_e3444bc5.png');position:absolute}
@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25){.gb_N .gb_6b::before{content:url('//ssl.gstatic.com/gb/images/v2_2bfc14f2.png');-moz-transform:scale(.5);transform:scale(.5);-moz-transform-origin:0 0;transform-origin:0 0}
}
.gb_Ib a:focus{outline:1px dotted #fff!important}
sentinel{}
#gbq .gbgt-hvr,#gbq .gbgt:focus{background-color:transparent;background-image:none}
.gbqfh#gbq1{display:none}
.gbxx{display:none !important}
#gbq{line-height:normal;position:relative;top:0px;white-space:nowrap}
#gbq{left:0;width:100%}
#gbq2{top:0px;z-index:986}
#gbq4{display:inline-block;max-height:29px;overflow:hidden;position:relative}
.gbqfh#gbq2{z-index:985}
.gbqfh#gbq2{margin:0;margin-left:0 !important;padding-top:0;position:relative;top:310px}
.gbqfh #gbqf{margin:auto;min-width:534px;padding:0 !important}
.gbqfh #gbqfbw{display:none}
.gbqfh #gbqfbwa{display:block}
.gbqfh #gbqf{max-width:512px;min-width:200px}
.gbqfh .gbqfqw{border-right-width:1px}

.gbii::before{content:url(https://lh3.googleusercontent.com/-U6SQ93nff8E/AAAAAAAAAAI/AAAAAAAAAAA/APJypA2eUbXBdLNZVave_i1wHokv8u01fQ/s32-c-mo/photo.jpg)}
.gbip::before{content:url(https://lh3.googleusercontent.com/-U6SQ93nff8E/AAAAAAAAAAI/AAAAAAAAAAA/APJypA2eUbXBdLNZVave_i1wHokv8u01fQ/s96-c-mo/photo.jpg)}
@media (min-resolution:1.25dppx),(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25){.gbii::before{content:url(https://lh3.googleusercontent.com/-U6SQ93nff8E/AAAAAAAAAAI/AAAAAAAAAAA/APJypA2eUbXBdLNZVave_i1wHokv8u01fQ/s64-c-mo/photo.jpg)}
.gbip::before{content:url(https://lh3.googleusercontent.com/-U6SQ93nff8E/AAAAAAAAAAI/AAAAAAAAAAA/APJypA2eUbXBdLNZVave_i1wHokv8u01fQ/s192-c-mo/photo.jpg)}
}
.gbii{background-image:url(https://lh3.googleusercontent.com/-U6SQ93nff8E/AAAAAAAAAAI/AAAAAAAAAAA/APJypA2eUbXBdLNZVave_i1wHokv8u01fQ/s32-c-mo/photo.jpg)}.gbip{background-image:url(https://lh3.googleusercontent.com/-U6SQ93nff8E/AAAAAAAAAAI/AAAAAAAAAAA/APJypA2eUbXBdLNZVave_i1wHokv8u01fQ/s96-c-mo/photo.jpg)}@media (min-resolution:1.25dppx),(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25){.gbii{background-image:url(https://lh3.googleusercontent.com/-U6SQ93nff8E/AAAAAAAAAAI/AAAAAAAAAAA/APJypA2eUbXBdLNZVave_i1wHokv8u01fQ/s64-c-mo/photo.jpg)}.gbip{background-image:url(https://lh3.googleusercontent.com/-U6SQ93nff8E/AAAAAAAAAAI/AAAAAAAAAAA/APJypA2eUbXBdLNZVave_i1wHokv8u01fQ/s192-c-mo/photo.jpg)}}
